body {
  background: linear-gradient(rgb(76, 76, 76), rgb(22, 22, 22), rgb(0, 0, 0));
  min-height: 100vh;   /* agora o body pode crescer */
  align-items: start;  /* opcional: deixa o conteúdo começar do topo */
  justify-content: center;
  padding-top: 50px;   /* opcional: afasta do topo */
  padding: 20px;
  color: white;
}
.user {
  height: 40px;
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 19px;

}


/* Ícones / textos visíveis */
.navbar * {
  color: #fff !important;
}

/* MENU RESPONSIVO */
.navbar-menu {
  background-color: #111;
  /* fundo sólido para não sumir */
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  padding: 15px;
  z-index: 9999;
}

/* Itens */
.navbar-menu a {
  display: block;
  padding: 10px;
  color: #fff !important;
}

.carousel-item img {
  width: 100%;
  /* ocupa toda a largura do slide */
  height: 900px;
  /* altura fixa para todos os slides */
  object-fit: cover;
  /* mantém proporção e corta excesso */
}


.search-input {
  padding: 10px 15px;
  width: 220px;
  border: 1px solid #444;
  border-radius: 20px;
  background: #111;
  color: #585050;
  margin-top: 18px;
}

.search-btn {
  padding: 10px 18px;
  border-radius: 20px;
  border: 1px solid #444;
  background: transparent;
  color: #585050;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background: #ff4d4d;
  color: #585050;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  /* garante que fique acima do carousel */
}
/* MENU RESPONSIVO */
.navbar-menu {
  background-color: #111;    /* fundo sólido para não sumir */
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  padding: 15px;
  z-index: 9999;
}

/* Itens */
.navbar-menu a {
  display: block;
  padding: 10px;
  color: #fff !important;
}

.carousel-item img {
  width: 100%;          /* ocupa toda a largura do slide */
  height: 900px;        /* altura fixa para todos os slides */
  object-fit: cover;    /* mantém proporção e corta excesso */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* garante que fique acima do carousel */
}

.navbar {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(65, 65, 65),
    rgb(0, 0, 0)
  );
  backdrop-filter: blur(6px);
}


.card-dark {
  background-color: rgba(0, 0, 0, 0.75); /* fundo escuro translúcido */
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}





.btn-edit {
  padding: 10px 20px;
  background-color: #e50914; /* vermelho estilo Netflix */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-edit:hover {
  background-color: #ff4d4d;
}

/* Personalizar modal */
.modal-content {
  background-color: #111; /* fundo escuro */
  color: #fff; /* letra branca */
  border-radius: 10px;
  border: none;
}

.modal-header {
  border-bottom: 1px solid #333;
}

.modal-footer {
  border-top: 1px solid #333;
}

.form-control {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
}

.form-control:focus {
  background-color: #222;
  color: #fff;
  border-color: #000000;
  box-shadow: none;
}

.form-label {
  color: #fff;
}
