body {
 background: 
      linear-gradient(rgba(0, 0, 0, 0.645), rgb(0, 0, 0)), /* camada escura */
      url('../img/fundoLoCa.jpg');
  background-size: cover;     /* cobre toda a tela */
  background-position: center;/* centraliza */
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
   width: 600px;
  margin: 80px auto;
  padding: 10px 68px 40px;
  background-color: rgba(0, 0, 0, 0.83); /* fundo escuro translúcido */
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.btn-warning {
  background-color: rgb(255, 255, 255) !important;
  color: #000000 !important;
  border: none !important;
  width: 40px !important;
}
.btn-warning:hover {
  background-color: #e60000 !important;
   width: 600px;
  margin: 80px auto;
}

form input {
  background-color: #333333 !important;  /* muda o fundo do input */
  color: #ffffff !important;             /* muda a cor do texto digitado */
}
.login-form input::placeholder {
  color: #e0e0e0 !important; /* mude aqui a cor do texto do placeholder */
  opacity: 1 !important;  /* garante que a cor fique visível no Chrome */
}

.btn-cadastrar {
    display: inline-block;
    padding: 10px 2px;
    text-align: center;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(135deg, #ff4d4d, #cc0000);
    color: white;

    transition: .3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-cadastrar:hover {
    background: linear-gradient(135deg, #ff1a1a, #990000);
    transform: scale(1.03);
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

.btn-cadastrar:active {
    transform: scale(0.97);
}

.btn-voltar {
    display: inline-block;
    padding: 10px 2px;
    text-align: center;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(135deg, #ffed4d, #ccbe00);
    color: white;

    transition: .3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-voltar:hover {
    background: linear-gradient(135deg, #ffdd1a, #998a00);
    transform: scale(1.03);
    box-shadow: 0 0 12px rgba(255, 251, 0, 0.6);
}

.btn-voltar:active {
    transform: scale(0.97);
}
.logo-container {
    display: flex;
    justify-content: center;   /* centraliza horizontal */
    margin-bottom: 20px;
}

.logo {
    width: 120px; /* tamanho */
    height: auto;
}


.perfil-avatar img {
    width: 70px;          /* tamanho menor */
    height: 70px;
    border-radius: 50%;   /* redonda */
    object-fit: cover;   /* não estica */
}

